<h1><%= @album.title %> (<%= @album.year %>)</h1>
<h2><%= @album.musicians.join(' / ') %></h2>
<img class="album" src="<%= @album.image_path %>" alt="<%= @album.title %>">
<ul>
	<% @songs.each do |song| %>
		<li>
			<%= song.track_num %>. <%= song.title %>  <%= song.time %>
		</li>
	<% end %>
</ul>
